@model UserPageModel
@using AuctionSite.Localize

<div class="user-page-menu-block">
    <div class="user-page-menu">
        <a href="">@Resource.User_Page_Change_Profile</a>
    </div>
    <div class="user-page-menu">
        <a href="">@Resource.User_Page_History</a>
    </div>
    <div class="user-page-menu">
        <a href="">@Resource.User_Page_Active_lots</a>
    </div>
    <div class="user-page-menu">
        <a href="">@Resource.User_Page_Rejected_Lots</a>
    </div>


</div>
